* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.body {
  height: 100vh;
  background-image: url(./picts/Magical-Forest-Graphics-66148523-1.jpg);
}
.h1 {
  color: rgb(160, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  font-size: 4rem;
  font-family: "Playwrite ES Deco", cursive;
  font-optical-sizing: auto;
}
.navigarion {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 800;
  height: 25vh;
}
.link {
  color: rgb(55, 49, 49);
  text-decoration: none;
}
.link:hover {
  color: darkgreen;
}
.container {
  display: flex;
  height: 50vh;
  gap: 2rem;
  justify-content: center;
}
.img {
  height: 40vh;
  width: 40vh;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}
.img:hover {
  transform: scale(1.1);
}
